/* Sample color palette */
:root {
  --yellow: #fecf33;
  --light-orange: #fdbd39;
  --peach: #ee6723;
}
/* Text styles */
.h1-dark {
  font-family: proxima-nova, sans-serif;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.95);
}
h1 {
  font-family: proxima-nova, sans-serif;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(44, 51, 47, 0.95);
}
.h4-dark {
  font-family: proxima-nova, sans-serif;
  font-size: 27px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.h2-dark {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.95);
}
.body-dark {
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
h2 {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: normal;
  color: #2c332f;
  letter-spacing: 3.4px !important;
}
.h3-dark {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgba(255, 255, 255, 0.8);
}
.graph-txt
{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  color: rgba(31, 33, 36, 0.6);
}
body
{
  font-family: proxima-nova, sans-serif;
}
.signedup {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3.4px;
  color: #1eab89;
}
.-background-landing {
  background-color: #20252e;
}
.NXMLogo2 {
  width: 154px;
}
.background-landing-topbar-4px {
  height: 4px;
  object-fit: contain;
  background-color: #1eab89;
}
.nav.nav-bordered .nav-item .nav-link {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  /*font-weight: bold;*/
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 2.6px;
  text-align: left;
  color: #ffffff;
}
.nav.nav-bordered .nav-item .nav-link.active:focus, .nav.nav-bordered .nav-item .nav-link.active:hover{
color: #ffffff;
}
.nav.nav-bordered .nav-item .nav-link.active
{
  border-bottom: solid 0px #1eab89;
}
.nav-bordered > .nav-item + .nav-item {
  margin-left: 15px;
}
.btn-nav {
  padding: 0.5rem 2rem !important;
  border-radius: 2px;
  border: solid 2px #1eab89;
  font-size: 11px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: 2.6px;
  text-align: left;
  color: #1eab89;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn-nav:hover{
  color: #1eab89;
}
a.btn.btn-fill:hover
{
  color: white !important;
}
a:hover
{
  text-decoration: none;
}
.stage-shelf ul li a
{
  text-align: center !important;
}
.nav-bordered.nav-stacked > .nav-item > .nav-link:hover, .nav-bordered.nav-stacked > .nav-item > .nav-link:focus {
  border-left: 0px;
}
.nav-bordered.nav-stacked > .nav-item > .nav-link {
    display: block;
    padding: 7px 10px 7px 10px;
    border-bottom: 0;
    border-left: 0px;
}
.A-DECENTRALISED-ALTE {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3.4px;
  color: rgba(255, 255, 255, 0.8);
}
.Smart-Contract-Cover {
  font-size: 50px;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.95) !important;
}
.Building-an-open-com {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  line-height: 1.45;
  letter-spacing: 1.2px;
  color: rgba(255, 255, 255, 0.95) !important;
}
.btn-border-dark {
  border-radius: 2px;
  border: solid 2px #1eab89;
  font-size: 11px;
  /*font-weight: bold;*/
  line-height: 1.36;
  letter-spacing: 2.6px;
  color: #1eab89;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: transparent;
}
.btn-border-dark:hover{
  color: #1eab89;
}
.btn-border {
  border-radius: 2px;
  border: solid 2px #1eab89;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.6px;
  color: #1eab89;
  background-color: transparent;
}
.btn-border:hover{
  color: #1eab89;
}
.btn-border-secondary {
  border-radius: 2px;
  border: solid 2px rgba(0, 0, 0, 0.7);
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.6px;
  color: rgba(0, 0, 0, 0.7);
  background-color: transparent;
}
.btn-border-secondary:hover{
  color: rgba(0, 0, 0, 0.7);
}
.btn
{
  font-family: 'IBM Plex Mono', monospace;
  /*padding: 0.5rem 1rem;*/
  padding: 0.6rem 2rem;
  transition: all 0.3s;
  font-weight: 700;
}
.btn:hover{
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.btn-fill {
  border: solid 2px #1eab89;
  border-radius: 2px;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 2.6px;
  color: #ffffff;
  background-color: #1eab89;
}
.top-span-bar-4px {
  width: 100%;
  height: 4px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background-color: #1eab89;
}
.top-span {
  width: 100%;
  border-radius: 2px;
  background-color: #ffffff;
  box-shadow: 4px 7px 20px 2px rgba(219, 219, 219, 0.13), 1px 2px 4px 0 rgba(200, 200, 200, 0.5);
}
.investor , .partner
{
  height: 155px;
  padding: 30px;
  margin-bottom: 30px;
  position: relative;
  transition: all 0.3s;
}
.investor:hover, .partner:hover
{
  transform: translateY(-5px);
}
.img-investor, .img-partner
{
  width: calc(100% - 100px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}
.img-partner
{
  width: calc(100% - 80px);
}
@media (max-width : 768px) and (min-width : 576px)
{
  .img-investor, .img-partner
  {
    width: calc(100% - 60px);
  }
}
@media (max-width : 768px)
{
  .img-investor
  {
    width: calc(100% - 40px);
  }
  .img-partner
  {
    width: calc(100% - 50px);
  }
}
.block-p-relative
{
  top: -10vh;
  position: relative;
}
.p {
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: normal;
  color: #2c332f;
}
.mailtoLink,.mailtoLink:hover
{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
  letter-spacing: 3.4px !important;
}
.p-dark {
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.56;
  letter-spacing: normal;
  color: #ffffff;
}
.bg-dark
{
  background-color: #20252e !important;
}
.team-name
{
  font-family: proxima-nova, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #1eab89;
  letter-spacing: normal;
}
.container-explainerVideo
{
  padding: 30px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1d2129;
  width: 100%;
  height: 304px;
  box-shadow: 4px 6px 8px 2px rgba(18, 18, 18, 0.13), 1px 2px 2px 0 rgba(28, 28, 28, 0.5);
}
.container-explainerVideo .playBtn {
  width: 74px;
  height: 32px;
  background-color: #1eab89;
  border-radius: 4px;
  overflow: hidden;
  background-image: url('../../assets/img/play-solid.svg');
  background-position: center;
  background-size: 15px 18px;
  background-repeat: no-repeat;
  margin-bottom: 25px;
}
.container-explainerVideo .title
{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.6px;
  color: #ffffff;
  text-align: center;
}
video:-webkit-full-screen	{ max-height: 100%; }
video:-moz-full-screen		{ max-height: 100%; }
video:-ms-media-controls-fullscreen-button
{
  display: none;
}
.team-img
{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background-blend-mode: multiply;
  background-size: 160px 160px;
  margin: 0 auto;
}
.team-hugh
{
  background-image: url("../img/hugh.jpg");
}
.team-hugh:hover, .active .team-hugh
{
  background-image: url("../img/hugh.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-rox
{
  background-image: url("../img/rox.jpg");
}
.team-rox:hover, .active .team-rox
{
  background-image: url("../img/rox.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-ish
{
  background-image: url("../img/ish.jpg");
}
.team-ish:hover, .active .team-ish
{
  background-image: url("../img/ish.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-nitika
{
  background-image: url("../img/nitika.jpg");
}
.team-nitika:hover, .active .team-nitika
{
  background-image: url("../img/nitika.jpg"), linear-gradient(#56bfa6, #56bfa6);
}

.team-graeme
{
  background-image: url("../img/graeme.jpg");
}
.team-graeme:hover, .active .team-graeme
{
  background-image: url("../img/graeme.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-nick
{
  background-image: url("../img/nick.jpg");
}
.team-nick:hover, .active .team-nick
{
  background-image: url("../img/nick.jpg"), linear-gradient(#56bfa6, #56bfa6);
}

.team-kayleigh
{
  background-image: url("../img/kayleigh.jpg");
}
.team-kayleigh:hover, .active .team-kayleigh
{
  background-image: url("../img/kayleigh.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-steve
{
  background-image: url("../img/steve.jpg");
}
.team-steve:hover, .active .team-steve
{
  background-image: url("../img/steve.jpg"), linear-gradient(#56bfa6, #56bfa6);
}
.team-evan
{
  background-image: url("../img/evan.jpg");
}
.team-evan:hover, .active .team-evan
{
  background-image: url("../img/evan.jpg"), linear-gradient(#56bfa6, #56bfa6);
}

.technology-image
{
  height: 200px;
  width: 100%;
}
.xs-technology-image
{
  height: 100px;
  width: 75%;
}
#team-section .nav-tabs .nav-link.active
{
  opacity: 1;
}
.social-icons li
{
  display: inline-block;
}
.social-icons
{
  padding:0;
}
.social-icons li:not(:first-child) {
  margin-left: 1rem;
}
.team-icon
{
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  display: block;
  transition: all 0.5s;
}
.team-icon:hover{
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.team-github
{
  background-image: url("../img/team-github.svg");
}
.team-twitter
{
  background-image: url("../img/team-twitter.svg");
}
.team-linkedin
{
  background-image: url("../img/team-linkedin.svg");
}
.dark-icon
{
  width: 42px;
  height: 42px;
  background-size: 42px 42px;
  display: block;
  transition: all 0.5s;
}
.dark-icon:hover{
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  transform: translateY(-1px);
}
.icon-github-dark
{
  background-image: url("../img/Github.svg");
}
.icon-twitter-dark
{
  background-image: url("../img/Twitter.svg");
}
.icon-medium-dark
{
  background-image: url("../img/medium.svg");
}
.icon-discord-dark
{
  background-image: url("../img/discord.svg");
}
.form-control-border
{
  background-color: transparent;
  border: 1px solid #1eab89;
  min-width: 50% !important;
  font-family: 'IBM Plex Mono', monospace;
  color: #1eab89;
  font-size: 11px;
  font-weight: bold;
  line-height: 1.36;
  letter-spacing: 2.6px;
  padding: 0.6rem 1rem;
}
.form-control-border:focus
{
  background-color: transparent;
  border: 1px solid #1eab89;
  color: #1eab89;
}
::placeholder {
    color: #1eab89 !important;
    opacity: 1 !important;
}
:-ms-input-placeholder {
   color: #1eab89 !important;
}

::-ms-input-placeholder {
   color: #1eab89 !important;
}
#sidebar ul li a
{
  color: #1eab89 !important;
}
.nav.black li .nav-link
{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 11px;
  opacity: 0.9;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2.6px;
  color: black !important;
}
#carouselExampleControls .icon:before
{
  top: 0 !important;
}
.code
{
  color: #1eab89;
  background: transparent;
  font-size: 10px;
  padding: 20px;
  line-height: 1.55;
  margin-bottom: 0px;
  background-blend-mode: multiply;
  background-color: black;
  height: calc(100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left !important;
}
.video-section .team-hugh
{
  background-image: url("../img/hugh.jpg"), linear-gradient(#56bfa6, #56bfa6);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-blend-mode: multiply;
  background-size: 80px 80px;
}
.video-section .team-github-logo
{
  background-image: url("../img/github-logo.png"), linear-gradient(#56bfa6, #56bfa6);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-blend-mode: multiply;
  background-size: 80px 80px;
}
#onTop {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #56bfa6;
  /*box-shadow: 0px 0px 1px 1px rgba(219, 219, 219, 0.5);*/
  color: white;
  cursor: pointer;
  border-radius: 50px;
  width: 50px !important;
  height: 50px !important;
}

#onTop span
{
  color: white;
  margin: 0;
  position: absolute;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#onTop:hover span {
    color: white;
    top: 8px;
}
.fixed-top
{
  background-color: #20252e;
}
.after-scroll
{
  animation: in 0.5s ease;
}
@keyframes in {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0px);
  }
}

.message_area{padding: 0.5rem;}
/*.message_area .close{padding-left: 0.5rem;}*/
.needsfilled input {border: 1px solid #a94442;}
.message_area
{
  margin-top: 0 !important;
  margin-bottom: 1rem;
  background-color: transparent !important;
  border: none !important;
  color: #1eab89 !important;
}
.needsfilled .message_area
{
  color: #a94442 !important;
}
.modal .needsfilled .message_area
{
  margin-bottom: 0rem !important;
}
.message_area .close{display: none !important;}



/*-----------Tabs-------------------*/

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #1eab89 !important;
  background-color: transparent;
  opacity: 0.8;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3.4px;
}
#tabs .nav-tabs .nav-link {
  opacity: 0.8;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 3.4px;
  color: #d7fbe8;
}
/*.text-tab{
  border-top: 2px solid #1eab89;
}*/
.nav-tabs {
    border-bottom: 0px solid #dee2e6;
}
.circle::before
{
  content: "";
  position: relative;
  white-space: pre;
  display: inline-block;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: #d7fbe8;
  border-radius: 50%;
  margin-bottom: 2rem
}
.carousel-indicators li {
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #d7fbe8;
    border-radius: 50%;
}
.carousel-indicators .active {
    background-color: #1eab89;
}
.active .circle::before
{
  background-color: #1eab89;
}
.slider-full {
    position: absolute;
    display:block;
    left: 0;
    height: 2px;
    background-color: #1eab89;
    width: 100%;
}
.slider {
  display:block;
  left: 0;
  height: 4px;
  background-color: #1eab89;
  width: 0%;
  transition: width 1s ease;
}
.active .slider
{
  width: 100%;
}
.nav-item.nav-link:hover .slider
{
  width: 100%;
}
.border-full
{
  border-bottom: 2px solid #1eab89;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 1.05rem;
}
.nav-fill .nav-item {
  padding: 0;
  border: 0px !important;
}
.circle{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}
#nav-top nav ul li .nav-link::after
{
  content: "";
  margin-top: 0.5rem;
  display:block;
  left: 0;
  height: 2px;
  background-color: #1eab89;
  width: 0%;
  transition: width 1s ease;
}
#nav-top nav ul li .active.nav-link::after
{
  width: 100%;
}
#nav-top nav ul li .nav-link:hover::after
{
  width: 100%;
}
.nav-bordered > .nav-item > .nav-link
{
  border-bottom: 0px solid transparent;
}
/*---------------------------------*/


/*------------Media-Query---------*/

@media screen and (max-width: 575px)
{
  .team-img
  {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
  }
  .block
  {
    padding: 50px 15px;
  }
  .block.app-header
  {
    padding: 100px 15px 50px 15px;
  }
  .xs-d-none
  {
    display: none !important;
  }
  .xs-d-block
  {
    display: block !important;
  }
  .xs-d-inline-block
  {
    display: inline-block !important;
  }
  .xs-text-center
  {
    text-align: center !important;
  }
  .xs-top-0
  {
    top: 0 !important;
  }
  .pl-xs-0, .px-xs-0 {
    padding-left: 0rem !important;
  }
  .pr-xs-0, .px-xs-0 {
      padding-right: 0rem !important;
  }
  .pl-xs-1, .px-xs-1 {
    padding-left: 1rem !important;
  }
  .pr-xs-1, .px-xs-1 {
      padding-right: 1rem !important;
  }


  .pt-xs-0, .py-xs-0 {
    padding-top: 0rem !important;
  }
  .pb-xs-0, .py-xs-0 {
    padding-bottom: 0rem !important;
  }
  .pt-xs-1, .py-xs-1 {
    padding-top: 1rem !important;
  }
  .pb-xs-1, .py-xs-1 {
      padding-bottom: 1rem !important;
  }
  .pt-xs-3, .py-xs-3 {
    padding-top: 3rem !important;
  }
  .pb-xs-3, .py-xs-3 {
    padding-bottom: 3rem !important;
  }
  .code
  {
    height: auto;
    overflow: hidden;
  }
.xs-pt-50
{
  padding-top: 50px;
}
}
@media screen and (min-width: 576px) and (max-width: 767px)
{
  .sm-text-left
  {
    text-align: left;
  }
  .sm-text-center
  {
    text-align: center;
  }
  .sm-align-center
  {
    align-items: center !important;
  }
  .block
  {
    padding: 50px 15px;
  }
  .sm-d-block
  {
    display: block !important;
  }
  .sm-d-inline-block
  {
    display: inline-block !important;
  }
  .sm-d-none
  {
    display: none !important;
  }
  .sm-pl-0, .sm-px-0 {
    padding-left: 0rem !important;
  }
  .sm-pr-0, .sm-px-0 {
    padding-right: 0rem !important;
  }
  .sm-pl-1, .sm-px-1 {
    padding-left: 1rem !important;
  }
  .sm-pr-1, .sm-px-1 {
    padding-right: 1rem !important;
  }
  .sm-pt-1, .sm-py-1 {
    padding-top: 1rem !important;
  }
  .sm-pb-1, .sm-py-1 {
      padding-bottom: 1rem !important;
  }
  .sm-pt-3, .sm-py-3 {
    padding-top: 3rem !important;
  }
  .sm-pb-3, .sm-py-3 {
      padding-bottom: 3rem !important;
  }
  .code
  {
    height: auto;
    overflow: hidden;
  }
  .sm-pt-50
{
  padding-top: 50px;
}
}
@media (min-width: 768px) and (max-width: 1024px)
{
  .team-img {
    width: 135px;
    height: 135px;
    background-size: 135px 135px;
}
  /*.block
  {
    padding: 75px 15px;
  }*/
  .md-d-none
  {
    display: none !important;
  }
  .md-d-block
  {
    display: block !important;
  }
  .navbar-expand-md
  {
    -ms-flex-flow: wrap;
    flex-flow: wrap;
  }
  .md-mt-0, .md-my-0 {
    margin-top: 0rem !important;
  }
  .md-mb-0, .md-my-0 {
    margin-bottom: 0rem !important;
  }
  .md-mr-0, .md-mx-0 {
    margin-right: 0rem !important;
  }
  .md-ml-0, .md-mx-0 {
    margin-left: 0rem !important;
  }
  .md-pt-1, .md-py-1 {
    padding-top: 1rem !important;
  }
  .md-pb-1, .md-py-1 {
      padding-bottom: 1rem !important;
  }
  .md-pl-1, .md-px-1 {
    padding-left: 1rem !important;
  }
  .md-pr-1, .md-px-1 {
      padding-right: 1rem !important;
  }
  .md-pt-50
  {
    padding-top: 50px;
  }
  .code
  {
    height: 15rem;
    overflow: hidden;
  }
  .md-text-center
  {
    text-align: center;
  }
  .form-inline .form-control
  {
    width: -webkit-fill-available;
  }
  .block-fill-height
  {
    height: 75vh;
  }
}
@media (min-width: 1025px) and (max-width: 1199px)
{
  .cmt-3
  {
    margin-top: 3rem;
  }
  .team-img {
      width: 140px;
      height: 140px;
      background-size: 140px 140px;
  }
}
@media (min-width: 1200px)
{
  .video-section
  {
    padding-bottom: 150px;
  }
  #technology
  {
    padding-top: 150px;
  }
}

/*--------------------------------*/
